<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    What chat room would you like to enter?<br>
<!--    <input id="room-name-input" type="text" size="100"><br>-->
<!--    <input id="room-name-submit" type="button" value="Enter">-->

    <script>
        // const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/price/'
        );


        // chatSocket.send(JSON.stringify({
        //         'message': "message"
        //     }));

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data)
            // document.querySelector('#chat-log').value += (data.message + '\n');
        };


        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        // document.querySelector('#chat-message-input').focus();
        // document.querySelector('#chat-message-input').onkeyup = function(e) {
        //     if (e.keyCode === 13) {  // enter, return
        //         document.querySelector('#chat-message-submit').click();
        //     }
        // };
        //
        // document.querySelector('#chat-message-submit').onclick = function(e) {
        //     const messageInputDom = document.querySelector('#chat-message-input');
        //     const message = messageInputDom.value;

        //     messageInputDom.value = '';
        // };
    </script>
</body>
</html>